*,*::before, *::after {
  box-sizing: border-box;
}

:root {
  --headers-color: #FF9233;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#343232 52%, #7c7474 100%) no-repeat;
  font-family: 'Poppins', sans-serif;
}


/* Typography */
.header-title {
  font-size: 0.85rem;
  color: var(--headers-color);
  margin: 0;
}

.name {
  font-size: 1.25rem;
  color: var(--headers-color);
  margin: 0.875em 0 0 0;
}

.card-container .contacts {
  color: var(--headers-color);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}

.email {
  font-size: 0.8rem;
  margin: 0;
  color: #ffffff;
}

.description-section-header {
  font-size: 1.25rem;
  margin: 0;
}

.description-text {
  font-size: 0.875rem;
  color: #ffffff;
}

.footer-text {
  font-size: 0.75rem;
  color: var(--headers-color);
  margin: 0;
  padding: 0;
}

/* Layout */
.site-wrapper {
  min-height: 100vh;
}

header {
  background-color: #171515;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #171515;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}

header .switch-language-button {
  font-family: 'Poppins', sans-serif;
  margin: auto 0;
  border-radius: 10px;
  padding: 0.5em 1em;
  cursor: pointer;
  color: var(--headers-color);
  border: 1px solid var(--headers-color);
  background: none;
  transition: .5s;
}

.switch-language-button:hover {
  background-color: var(--headers-color);
  color: #171515;
}

.main-content {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 4em;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image-container {
  width:  197px;
  height: 280px;
}

.card-image-container img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.3rem #ffffff);
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-container {
  display: flex;
  gap: 1.5em;
  margin: 0.938em 0;
}

.linkedin-icon,
.github-icon {
  width: 35px;
  height: 35px;
  color: #ffffff;
  transition: .5s;
}

.linkedin-icon {
  background-color: #0077B5;
  padding: 0.25em;
  border-radius: 5px;
}

.linkedin-icon:hover,
.github-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 0.4rem #ffffff)
}

.description-and-skill-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description-section-header {
  color: var(--headers-color);
  font-weight: bold;
  text-decoration: underline;
}

.description-container {
  border: 1px solid #b4b1b1;
  background: none;
  border-radius: 10px;
  text-align: center;
}

.description-text {
  padding: 1em;
  line-height: 2;
}

.scrimba-link,
.project-link {
  text-align: center;
  color: #FF9233;
  transition: .3s;
}

.scrimba-link-text,
.project-link-text {
  margin: 0;
}

.scrimba-link:hover {
  text-shadow: 1px 1px 5px #FF9233;
  transform: scale(1.07);
}

.project-link:hover {
  text-shadow: 1px 1px 5px #FF9233;
  transform: scale(1.07);
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.skills-section-header {
  font-size: 1.25rem;
  margin: 0 0 0.25em;
  color: var(--headers-color);
  font-weight: bold;
  text-decoration: underline;
}

.skills-container {
  display: grid;
  grid-template-areas:
        "Html Html . Css Css"
        ". JavaScript JavaScript JavaScript ."
        "React React React Figma Figma";
  grid-gap: 8px;
}

.Html {
  grid-area: Html;
}

.Css {
  grid-area: Css;
}

.JavaScript {
  grid-area: JavaScript;
}

.React {
  grid-area: React;
}

.Figma {
  grid-area: Figma;
}

.skills {
  border: 2px solid #7bd5ff;
  border-radius: 10px;
  color: #7bd5ff;
  text-align: center;
  margin: 0;
  padding: 0.125em 0.7em;
}

.certificates-section, 
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.certificates-section-header,
.projects-section-header {
  font-size: 1.25rem;
  margin: 0 0 0.25em;
  color: var(--headers-color);
  font-weight: bold;
  text-decoration: underline;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.certificates-section .carousel {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 127px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.certificates-section .carousel:hover {
  filter: drop-shadow(1px 1px 5px #ffffff);
  transform: scale(0.95);
  cursor: pointer;
}

.certificate-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
  border-radius: 4px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.img-zoom {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: zoom-out;
}

.carousel-btn {
  all: unset;
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
  transition: .3s ease-in-out;
}

.carousel-btn:hover {
  filter: drop-shadow(1px 1px 5px #ffffff);
  transform: scale(1.5);
}

.projects-section .carousel {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 230px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.project-card {
  border: 1px solid #b4b1b1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 6px;
  transition: translate 300ms ease-in-out;
}

.project-img-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.project-img-container:hover {
  filter: drop-shadow(1px 1px 5px #ffffff);
  transform: scale(0.95);
}

.project-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.project-description {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.project-description-text {
  color: #ffffff;
}

.project-description-text,
.project-link {
  margin: 0;
}

.project-technologies {
  margin-bottom: 0;
  color: #FF9233;
}

.technology {
  border: 2px solid #7bd5ff;
  border-radius: 10px;
  color: #7bd5ff;
  text-align: center;
  margin-left: 1em;
  padding: 0.125em 0.7em;
}

.project-link {
  padding: 1em;
}

@media (min-width: 770px) {
  html {
    font-size: 1.1rem;
  }
  .certificates-section .carousel,
  .projects-section .carousel {
    width: 500px;
    height: auto;
  }

  .project-description {
    display: flex;
  }
}

@media (min-width: 1350px) {
  html {
    font-size: 1.2rem;
  }

  .main-content {
    display: grid;
    grid-template-areas:
        "about certificates certificates"
        "about certificates certificates"
        "about projects projects";
    gap: 40px;
  }

  .about-section {
    grid-area: about;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .card-image-container {
    width:  400px;
    height: auto;
  }

  .certificates-section {
    grid-area: certificates;
    align-self: flex-start;
  }

  .projects-section {
    grid-area: projects;
  }

  .skills-container {
    display: flex;
  }

  .certificates-section .carousel,
  .projects-section .carousel {
    width: 600px;
    height: auto;
  }

  .project-card {
    transition: translate 300ms ease-in-out;
    justify-content: space-around;
  }
  
  .project-img-container {
    width: 100%;
    height: auto;
  }

  .project-description {
    display: flex;
  }

  .project-link {
    margin-bottom: 1em;
  }
}